*{
margin:0px;
padding:0px;
}
img{border:0px}

body{
width:100%;
margin:0 auto;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
}
.meta{
color:#66bb6a;
background-color: #454545;
background-position:top right;
background-repeat:no-repeat;
height:36px;
width:100%;
padding-top: 10px;
overflow:hidden;
font-size: 15px;
}
.meta a{
color:#fff;
font-size: 14px;
text-decoration:underline;
}
.meta a:visited{text-decoration:underline}
.meta a:hover{text-decoration:none}
.meta p{
display:block;
float:right;
line-height:18px;
}
.metalinks{
height:23px;
width:166px;
margin:0 0 0 22px;
padding:0;
float:right;
text-align:center;
}
.metalinks a{
margin:0 10px 0 7px
}
#header{
position:relative;
padding:0 0 0 0px;
height:60px;
width:100%;
background-color: #254A73;
color: white;
}
.logo{
float:left;
padding-left: 230px;
}
.slogan{
display:block;
position:absolute;
top:30px;
left:40px;
padding-left: 200px;
}
#menu{
float:left;
margin:0 0 10px 79px;

}
#menu li{
list-style-type:none;
display:block;
float:left;
line-height:40px;
height:40px;
padding:0 14px;
background-image:url(images/line.gif);
background-position:top right;
background-repeat:no-repeat;

}
#menu .last{
background:none;
}
#menu a{
font-size:12px;
color:#F5F5F5;
text-decoration:none;
}
#menu a:visited{text-decoration:none}
#menu a:hover{text-decoration:underline}
#content{
width:859px;
margin:0 auto;
}

.search{
width:751px;
float:left;
color:#272727;
padding:0 0 16px 108px;
overflow:hidden;
background-image:url(images/search_bg.gif);
background-position:top left;
background-repeat:no-repeat;
}
.search img{float:left}
.input{
height:17px;
float:left;
border:2px inset #CECECE;
margin:8px 0 0 7px;
padding:0 0 0 5px;
font-size:12px;
color:#454545
}

#info div{
background-image:url(images/bg2.gif);
background-position:top left;
background-repeat:repeat-x;
width:650px;
height: 200px;
float:left;
overflow:hidden;
padding:30px 0px 20px 5px;
background-color:#DBDBDB;
color:#263238;
}
#info div{
width:160px;
float:left;
padding:0 10px 0 38px;
}
#info ul{
padding:12px 0 0 4px
}
#info li{
list-style-type:none;
line-height:18px;
padding-bottom: 6px;
font-size: 14px;
}
#info a{
color:#454545;

text-decoration:none
    
}
#footer{
width:100%;
float:left;
display:inline;
background-position:top left;
background-repeat:no-repeat;
background-color: #263238;
padding:30px 0;
text-align:center;
color: #fff;
}

.inner_copy{
border:0;
color:#fff;
float:right;
width:0.09%!important;
margin:-100px;
overflow:hidden;
line-height:0px;
padding:0px;
font-size:11px
    
  
}
.cen h3{
    padding-left: 10px;
}
.cen a{
    text-decoration: none;
    padding:15px 15px 15px 15px;
    font-size: 14px;
    color: #272727;
}