<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/jobfinal?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">1234</property>
    <mapping resource="info/diit/entity/Reference.hbm.xml"/>
    <mapping resource="info/diit/entity/Companyreg.hbm.xml"/>
    <mapping resource="info/diit/entity/Personalinfo.hbm.xml"/>
    <mapping resource="info/diit/entity/Jobpost.hbm.xml"/>
    <mapping resource="info/diit/entity/Jobseekerreg.hbm.xml"/>
    <mapping resource="info/diit/entity/UploadImage.hbm.xml"/>
    <mapping resource="info/diit/entity/Education.hbm.xml"/>
    <mapping resource="info/diit/entity/Companycategory.hbm.xml"/>
    <mapping resource="info/diit/entity/Training.hbm.xml"/>
    <mapping resource="info/diit/entity/Jobcategory.hbm.xml"/>
    <mapping resource="info/diit/entity/Seekerothers.hbm.xml"/>
    <mapping resource="info/diit/entity/Experience.hbm.xml"/>
    <mapping resource="info/diit/entity/Userroles.hbm.xml"/>
    <mapping resource="info/diit/entity/Admindetails.hbm.xml"/>
    <mapping resource="info/diit/entity/Role.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
